body {
	font-family: PetscopWide;
}
table {
	border: 1px solid black;
}
td, th {
	border: 1px solid black;
	padding: 20px;
	text-align: center;
	font-size: 28pt;
	width: 25%;
}
.charactertable .yes {
	background-color: lime;
}
.charactertable .no {
	background-color: red;
}
.charactertable .maybe {
	background-color: yellow;
}
.avatar {
	width: 100px;
	height: 100px;
	margin: 0 0 20px;
}