:root {
	--character-avatar-size: 80px;
}
body {
	font-family: PetscopWide;
}
table {
	border: 1px solid black;
}
td, th {
	border: 1px solid black;
	padding: 20px;
	text-align: center;
	font-size: 2em;
	width: 25%;
}
.character-traits .yes {
	background-color: lime;
}
.character-traits .no {
	background-color: red;
}
.character-traits .maybe {
	background-color: yellow;
}
.character .avatar {
	width: var(--character-avatar-size);
	height: var(--character-avatar-size);
	margin: 0 0 20px;
}
.character .name {
	font-size: 1.5em;
}